.gh-bg-dark {
  background-color: #333;
}

.fade-in {
  animation: 500ms fadein forwards;
}

@keyframes fadein {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

a {
  color: #00BFFF;
}

a:hover {
  color: #1E90FF;
}

.gh-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
}
