<!DOCTYPE html>
<!-- Hey! -->
<!-- If you're reading this, thanks for taking the time -->
<!-- to check out the source code. -->
<!-- You can read the whole thing at -->
<!-- https://gitlab.com/bbworld1/bbworld1.gitlab.io -->
<!-- I'll leave a few tidbits in here to read, I guess -->
<html>
  <head>
    <!-- Good ol' Bootstrap -->
    <!-- Yeah, yeah, it's generic looking or whatever -->
    <!-- I like how v5 looks and it's my site so I'm using it -->
    <!-- TODO: We really don't need bootstrap it's way too heavy -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Our own CSS -->
    <link href="/static/main.css" rel="stylesheet">

    <!-- Metadata (with templating) -->
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- Time for good old bootstrap div soup -->
    <div class="container-fluid bg-dark fade-in pb-5" style="min-height: 100vh; display: flex; align-items: center">
      <div class="container p-5 text-light text-center">
        <h1 class="display-4">{{ display }}</h1>
        <p class="lead">
          {{ lead }}
        </p>
        <p>
          {% for link in links %}
          {% if loop.index == links|length %}
          <a href="{{ link.link }}">{{ link.name }}</a>
          {% else %}
          <a href="{{ link.link }}">{{ link.name }}</a> &middot;
          {% endif %}
          {% endfor %}
        </p>
      </div>
    </div>
  </body>
</html>
